.cities-box {
    padding: 1%;
}

.city-img {
    width: 100%;
    margin-bottom: 15px;
}

/* bullet points */
.city-points {
    list-style: none;
}

.city-points li {
    margin-bottom: 5px;
}

.city-points li a:link,
.city-points li a:visited {
    color: #e67e22;
    text-decoration: none;
    padding: 1px;
    border-bottom: .5px solid #e67e22;
    -webkit-transition: border 0.2s, color 0.5s;
    transition: border 0.2s, color 0.5s;
}

.city-points li a:hover,
.city-points li a:active {
    color: #555;
    border-bottom: .5px solid transparent;
}