.section-form {
    
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.contact-form input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

.form-messages {
	width: 70%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    border-radius: 9px;
    margin-bottom: 20px;
}

.success {
    color: #333;
    font-weight: 400;
    background-color: rgba(0, 178, 51, .5);
}

.error {
    color: #fff;
    font-weight: 400;
    background-color: rgba(255, 0, 0, .5);
}