.section-form {
    
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.contact-form input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
