/* Meals */
.section-meals {
    padding: 0;
}

/* ul that contains figure and img elements */
.meals-showcase {
    list-style: none;
    width: 100%;
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

/* figure element that contains img element */
.meal-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
}

/* image - black background and .7 opacity make the image dark */
/* also the image is zoomed in slightly */
.meal-photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

/* image brightens and becomes normal size */
/* 1.03 scale keeps white edge from showing */
.meal-photo img:hover {
   -webkit-transform: scale(1.03);
   transform: scale(1.03);
   opacity: 1;
}
