/* Paragraphs */

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.section-features .long-copy {
    margin-bottom: 30px;
}

.box p {
    font-size: .9rem;
    line-height: 145%;
}
